# MUHAMMAD AMIN NADIM
https://muhammad-amin-nadim.github.io/

# HOW to work with Python Basics.

**WELL COME !!!!**

Python is a programming language. It is a high-level, interpreted, interactive, object-oriented, and dynamic programming language. Python is designed to be highly readable and easy to use. It is also easy to learn.
Python was founded in the late 1980s by Guido van Rossum. Python is now used by many large companies and organizations for software development.

How Python is important in Data Science?

In this tutorial, we will learn how to use Python in Data Science.

In [2]:
#How to print "Hello World"
print("Hello World")
#How to print your name
print("Hello, My Name is Muhammad Amin Nadim") 
#How to print your age
print("I am 31 years old")

Hello World
Hello, My Name is Muhammad Amin Nadim
I am 31 years old

How do I store my data?

where do I store my data?

 **Variables:** Data/values can be stored in temporary stoarge spcae known as variables.

In [4]:
student = "Amin Nadim"
#This value is stored in student variable
student

'Amin Nadim'

In [5]:
#As, we can see, the value is stored in student variable is temporary storage space.
#Let's store new value in student variable
student = "Nadim Amin"
student

'Nadim Amin'

**Data Types:** Every variable is associated with a data type.
1) Integer: An integer is a whole number such as 8 or 200.

2) Float: A float is a number with a decimal point, such as 3.14 or 0.4.

3) String: A string is a series of characters surrounded by quotes.

4) Boolean: A boolean is a True or False value.

5) Complex: A complex number is a number with a real part and an imaginary part.

In [6]:
#Let's store a int value in a1
a1 = 10
a1

10

In [7]:
#To check the type of a1
type(a1)

int

In [8]:
#Let's store a float value in a1
a1 = 10.5
a1

10.5

In [9]:
#To check the type of a1
type(a1)

float

In [10]:
#Let's store a boolean value in a1
a1 = True
type(a1)

bool

In [11]:
#Let's store a string value in a1
a1 = "Hello World"
type(a1)

str

In [12]:
#Let's store a complec value in a1, where 3 is real number and 4 is imaginary number. In python, we can store complex number as a tuple.
a1 = 3+4j
type(a1)

complex

**Operators:** Operators are used to perform operations on variables.
1) Arithmetic: Arithmetic operators are used to perform arithmetic operations on variables.

2) Relational: Relational operators are used to compare variables.

In [13]:
#Arithmetic Operators: +, -, *, /, %, **
a = 10
b = 20
print(a,b)
#Let's perform some arithmetic operations
A = a+b
print("The addition of a and b is:",A)
B = a-b
print("The subtraction of a and b is:",B)
C = a*b
print("The multiplication of a and b is:",C)
D = a/b
print("The division of a and b is:",D)

10 20
The addition of a and b is: 30
The subtraction of a and b is: -10
The multiplication of a and b is: 200
The division of a and b is: 0.5

In [14]:
#Relational Operators: ==, !=, >, <, >=, <=
a = 50
b = 100
#Let's perform some relational operations
A = a>b
print("The value of a is greater than b:",A)
B = a<b
print("The value of a is less than b is:",B)
C = a==b
print("The value of a is equal to b is:",C)
D = a!=b
print("The value of a is not equal to b is:",D)
E = a>=b
print("The value of a is greater than or equal to b is:",E)

The value of a is greater than b: False
The value of a is less than b is: True
The value of a is equal to b is: False
The value of a is not equal to b is: True
The value of a is greater than or equal to b is: False

In [15]:
#Logical Operators: and(&), or(|), not
a = True
b = False
#Let's perform some logical operations
A = a & b
print ("The value of True & False is:",A)
B = b & b
print("The value of False & False is:",B)
C = a & a
print ("The value of True & True is:",C)
D = a | b
print ("The value of True | False is:",D)
E = b | b
print("The value of False | False is:",E)
F = a | a
print("The value of True | True is:",F)

The value of True & False is: False
The value of False & False is: False
The value of True & True is: True
The value of True | False is: True
The value of False | False is: False
The value of True | True is: True

**Python Tokens:** Smallest meaningful component of code in Python.

**1) Identifier:** A name that can be used to identify a variable, functions or objects.

**Rules for Identifier:**

   i) Identifier must start with a letter or underscore.

   ii) Identifier can contain letters, numbers, underscores, and dollar signs.

   iii) Identifier cannot start with a number.

   iv) Identifier cannot be a reserved word.

   v) Identifier are case sensitive.
 
**2) Keyword:** A word that is reserved by the Python interpreter.
    
**3) Operator:** A character that is used to perform an operation.
    
**4) Literal:** A literal are constants in python which were stored in variables.

**Python String:** A string is a sequence of characters.
String is a sequence of characters within single, double or triple quotes.
1) Single quotes:  'Hello World'

2) Double quotes:  "Hello, My name is Ashish Patel"

3) Triple quotes:  """Hello World, This is a multi line string"""

In [16]:
#Let's create string with single quote and print it
str1 = 'This is my first string'
str1

'This is my first string'

In [17]:
#Create string with double quotes and print it
str2 = "This is my second string"
str2

'This is my second string'

In [18]:
#Create string with triple quotes and print it
str3 = """
        This is my third string.
        This string has lots of lines of text.
        """
str3

'\n        This is my third string.\n        This string has lots of lines of text.\n        '

In [19]:
#How to extract individual characters from a string
str1 = 'Hello World'
str1[0], str1[-1], str1[0:5], str1[0:7], str1[-6:], str1[0:11:2]

('H', 'd', 'Hello', 'Hello W', ' World', 'HloWrd')

In [20]:
#to get the length of a string
print(len(str1))
#to convert a string into lower case
str2 = str1.lower()
print(str2)
#to convert a string into upper case
str3 = str2.upper()
print(str3)
#to replece a single character or word in a string
str4 = str1.replace('Hello','Hii')
print(str4)
#to count the number of times a word or character is present in a string
print(str4.count('i'))

11
hello world
HELLO WORLD
Hii World
2

In [21]:
s1 = "Hello, This is my first string"
print(s1.find('is'))
s2 = s1.split(',')
print(s2)

9
['Hello', ' This is my first string']

**Python Data Structure:** Tuples, Lists, Dictionaries, Sets.

**Tuples:** Tuple is an ordered collection of elements enclosed within (). A tuple is a sequence of immutable Python objects .

In [22]:
#tuple are heterogeneous collection of items.
tup1 = (1, 'a', 3.14, True)
print(type(tup1))
#to extract individual items from a tuple
print(tup1[0])
print(tup1[-1])
print(tup1[0:3])
#to get the length of a tuple
print(len(tup1))
#to concatenate two tuples
tupa = (1,2,3)
tupb = (4,5,6)
print(tupa+tupb)
#to repeating a tuple elements
print(tup1*3)
#to check the minimum and maximum value of a tuple
print(min(tupb))
print(max(tupb))

<class 'tuple'>
1
True
(1, 'a', 3.14)
4
(1, 2, 3, 4, 5, 6)
(1, 'a', 3.14, True, 1, 'a', 3.14, True, 1, 'a', 3.14, True)
4
6

In [25]:
#you can't change the value of a tuple
tup1 [2] = 'b'

TypeError: ignored

**Python List:** List is an ordered collection of elements enclosed within []. A list is a sequence of mutable Python objects.

In [26]:
#Let's create a list and print its type
l1 = [1, 'Hello', 3.14, True]
print(l1)
print(type(l1))

[1, 'Hello', 3.14, True]
<class 'list'>

In [27]:
#extract the individual items from a list
l1 = [1,"a", 2,"b", 3,"c"]
print(l1[1])
print(l1[2:5])
#changing the elements of a list at a particular index
l1[0]=10
print(l1)
#popping the last element of a list
l1.pop()
print(l1)
#adding a new element to a list
l1.append("Hello")
print(l1)
#inserting a new element at a particular index
l1.insert(2,"World")
print(l1)
#reverse the order of the elements in a list
l2 = [1,2,3,4,5]
l2.reverse()
print(l2)
#sorting the elements of a list
l3 = [10,100,6,84,45,23,12,56,78,90,1]
l3.sort()
print(l3)

a
[2, 'b', 3]
[10, 'a', 2, 'b', 3, 'c']
[10, 'a', 2, 'b', 3]
[10, 'a', 2, 'b', 3, 'Hello']
[10, 'a', 'World', 2, 'b', 3, 'Hello']
[5, 4, 3, 2, 1]
[1, 6, 10, 12, 23, 45, 56, 78, 84, 90, 100]

**Python Dictionary:** Dictionary is an unordered collection of elements enclosed within {}. A dictionary is a mapping of unique keys to values.

In [28]:
#Let's create a dictionary and print its type
d1 = {'a':1, 'b':2, 'c':3}
print(d1)
print(type(d1))
#Extracting keys from the dictionary
print(d1.keys())
#Extracting values from the dictionary
print(d1.values())
#Adding a new element to the dictionary
d1['d'] = 4
print(d1)
#changing an existing element of the dictionary
d1['a'] = 'Hello'
print(d1)
#Popping an element from the dictionary
d1.pop('d')
print(d1)

{'a': 1, 'b': 2, 'c': 3}
<class 'dict'>
dict_keys(['a', 'b', 'c'])
dict_values([1, 2, 3])
{'a': 1, 'b': 2, 'c': 3, 'd': 4}
{'a': 'Hello', 'b': 2, 'c': 3, 'd': 4}
{'a': 'Hello', 'b': 2, 'c': 3}

**Decision making statements:** if-else

**if-else:** if-else statement is used to execute a block of code if a certain condition is true.

In [29]:
#Let's declare two variable a and b and assign them values then apply if-else conidtion.
a = 10
b = 20
if  b>a:
   print("b is greater than a")
else:
   print("b is not greater than a")

b is greater than a

In [30]:
a = 10
b = 20
c= 30
if (a>b) & (a>c):
   print("a is greater")
elif (b>a) & (b>c):
   print("b is greater")
else:
   print("c is greatest")

c is greatest

**Looping statements:** for, while, break, continue

for loop: for loop is used to iterate over a sequence of items.

while loop: while loop is used to iterate over a sequence of items.

break: break statement is used to exit a loop.

continue: continue statement is used to skip the current iteration and continue with the next iteration.

In [31]:
i = 1
while i<=10:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [32]:
i = 1
n = 3
while i<=10:
    print (n, "*", i, "=", n*i)
    i=i+1

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [33]:
l1 = ["mango", "apple", "banana", "orange"]
for i in l1:
    print(i)

mango
apple
banana
orange

In [34]:
l1 = ["mango", "apple", "banana"]
l2 = ["Hello", "World"]

for i in l1:
    for j in l2:
        print(i,j)

mango Hello
mango World
apple Hello
apple World
banana Hello
banana World